@import "media-queries";

.container {
  position: relative;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 1240px;
  z-index: 2;
  text-align: center;

  @include mobile {
    max-width: 95%;
  }

  @include tablet {
    max-width: 85%;
  }

  @include desktop-up {
    max-width: 1400px;
  }
}

.w-10 {
  width: 10% !important;
}
.w-20 {
  width: 20% !important;
}
.w-30 {
  width: 30% !important;
}
.w-40 {
  width: 40% !important;
}
.w-50 {
  width: 50% !important;
}
.w-60 {
  width: 60% !important;
}
.w-70 {
  width: 70% !important;
}
.w-80 {
  width: 80% !important;
}
.w-90 {
  width: 90% !important;
}
.w-100 {
  width: 100% !important;
}

.w-10,
.w-20,
.w-30,
.w-40,
.w-50,
.w-60,
.w-70,
.w-80,
.w-90 {
  @include tablet-landscape-down {
    width: 100% !important;
  }
}

.max-width-85 {
  @include desktop-up {
    max-width: 85%;
  }
}

.max-width-70 {
  @include desktop-up {
    max-width: 70%;
  }
}

// FLEX

.d-flex {
  display: flex;

  &.flex-column {
    flex-direction: column !important;
  }

  &.flex-row {
    flex-direction: row !important;
  }

  &.just-between {
    justify-content: space-between;
  }

  &.align-start {
    align-items: flex-start;
  }
  &.align-center {
    align-items: center;
  }

  @include mobile {
    flex-direction: column;
  }

  @include tablet-landscape-down {
    flex-direction: column;
  }
}

// GRID

.d-grid {
  display: grid;
  column-gap: 3em;
  grid-row-gap: 3em;

  &.grid-2 {
    grid-template-columns: repeat(2, 1fr);

    @include tablet-landscape-down {
      grid-template-columns: repeat(1, 1fr) !important;
      grid-row-gap: 1em;
    }
  }

  &.grid-3 {
    grid-template-columns: repeat(3, 1fr);

    @include tablet-landscape-down {
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }

  &.grid-4 {
    grid-template-columns: repeat(4, 1fr);

    @include mobile-landscape-down {
      grid-template-columns: repeat(1, 1fr) !important;
    }

    @include tablet-landscape-down {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &.grid-gap-1 {
    column-gap: 1em;
    row-gap: 1em;
  }
  &.grid-gap-2 {
    column-gap: 2em;
    row-gap: 2em;
  }
  &.grid-gap-3 {
    column-gap: 3em;
    row-gap: 3em;
  }
  &.grid-gap-4 {
    column-gap: 4em;
    row-gap: 4em;
  }
}

.grid-1-3 {
  grid-column: 1/3;
  @include tablet-landscape-down {
    grid-column: 1 !important;
  }
}
